.hero {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-title {
	font-size: 30px;
	color: white;
	font-weight: 600;
	letter-spacing: 1.67px;
	padding-bottom: 20px;
}
