@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 100%;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background: transparent;
}

body::-webkit-scrollbar-thumb:hover {
	background: transparent;
}
